<div class="container">
	<div class="row text-center">
		<div class="col-xs-12">
			<h1><%= icon('bullhorn') %> Welcome to the Rails 4 Boilerplate demo.</h1>
			<p>The homepage for this demo can be found here: <a href="https://github.com/TristanToye/rails-4-boilerplate" target="_blank" title="GitHub Repo">https://github.com/TristanToye/rails-4-boilerplate</a></p>
		</div>
	</div>
</div>