<html>
<head>
	<title></title>
</head>
<body>
	<h2><%= @from %> has sent a support request!</h2>
	<p><small>They need help with:</small></p>
	<p><%= @message %></p>
	<p><%= @is_user %></p>
	<p><strong>Please get back to them asap!</strong></p>
</body>
</html>